#MINIO
MINIO_ROOT_USER=your-user
MINIO_ROOT_PASSWORD=your-password

#POSTGRES_DB
POSTGRES_USER=your-user
POSTGRES_PASSWORD=your-password
POSTGRES_DB=your-db

#POSTGRES_ADMIN
PGADMIN_DEFAULT_EMAIL=your-email
PGADMIN_DEFAULT_PASSWORD=your-user
PGADMIN_LISTEN_PORT=your-port

#AWS-S3-LOCAL
AWS_ACCESS_KEY_ID=your-key
AWS_SECRET_ACCESS_KEY=your-secret
